labs
LlavesOcultas
Build
Library
Obj
Temp
logs
UserSettings
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.booproj
*.tmproj
*.log
*.suo
*.userprefs
*.pidb.meta
*.unityproj.meta
*.booproj.meta
sysinfo.txt
*.apk
*.aac
*.aif
*.aiff
*.bak
*.mp3
*.ogg
*.wav
*.mid
*.midi
*.xmp
*.exr
*.gif
*.ico
*.jpeg
*.jpg
*.mov
*.mp4
*.png
*.psd
*.svg
*.tif
*.tiff
*.webm
*.webp
*.zip
*.unitypackage